/* Your own custom styles should be here */
body{
    font-family: 'Roboto', sans-serif;
}

.significa-logo{
    width: 60px;
}

.text-size{
    font-size: 10px;
}

.text-one{
    font-size:2rem; 
   
}

.text-two{
    font-size: 0.9rem;
    padding-top: 40px;
    font-style: bold;
}

.title-change{
    font-size: 12px;
    padding-top: 10px;    
}

.card-text-change{
    font-size: 12px; 
}