/* Your own custom styles should be here */
body{
    font-family: 'Roboto', sans-serif;
}

.significa-logo{
    width: 60px;
}

.text-size{
    font-size: 10px;
}

.text-size-one{
    font-size: 15px; 
    border: 100px 0;
}

.text-size-two{
    font-size: 8px;
}

.title-one{
    font-size: 12px;
}